/.vs/
/.vscode/
/Debug/
/x64/
/build/
/lib/
/GlareEngine/Debug/
/GlareEngine/x64/
/GlareEngine/Release/
/GlareEngine/Textures/HDRSky/
/GlareEngine/EngineEditor/NoesisUIEditor/Data/.vs/
/GlareEngine/EngineEditor/NoesisUIEditor/Data/bin/
/GlareEngine/EngineEditor/NoesisUIEditor/Data/obj/
/GlareEngine/EngineEditor/NoesisUIEditor/Data/packages/