/.vs/
/.vscode/
/.idea/
/cmake-build-debug/
/cmake-build-debug-visual-studio/
/Debug/
/x64/
/build/
/lib/
/bin/
/GlareEngine/Debug/
/GlareEngine/x64/
/GlareEngine/Release/
/GlareEngine/Shaders/CompiledShaders/
#/Resource/Textures/HDRSky/*
# !/Resource/Textures/HDRSky/SKY_LDR.dds
/GlareEngine/Dependences/lib/assimp-vc142-mt.lib
/GlareEngine/EngineEditor/NoesisUIEditor/Data/.vs/
/GlareEngine/EngineEditor/NoesisUIEditor/Data/bin/
/GlareEngine/EngineEditor/NoesisUIEditor/Data/obj/
/GlareEngine/EngineEditor/NoesisUIEditor/Data/packages/

/Resource/Model/DamagedHelmet/gltf/*.Model
/Resource/Model/DamagedHelmet/gltf/*.dds
/Resource/Model/FlightHelmet/gltf/*.Model
/Resource/Model/FlightHelmet/gltf/*.dds
/Resource/Model/SciFiHelmet/gltf/*.Model
/Resource/Model/SciFiHelmet/gltf/*.dds
/Resource/Model/Sponza/pbr/*.Model
/Resource/Model/Sponza/pbr/*.dds
/Resource/Textures/*.dds

/GameDemo/Debug/
/GameDemo/x64/
/GameDemo/Release/
/GameDemo/.vs/
/EngineDemo_Old/Debug/
/EngineDemo_Old/x64/
/EngineDemo_Old/Release/
/EngineDemo_Old/.vs/
/EngineDemo_Old/CMakeFiles/
/EngineDemo_Old/cmake_install*
/CMakeFiles/
